/* Add your font via Google Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* CSS Reset. You don't need to understand these.
 * They're only here to make CSS consistent across all browsers. */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

/* Define your color scheme here, taken from Fullyhacks color scheme. */
:root {
  --body_bg: #000000;
  --sky_100: #00a6ff;
  --sky_300: #0040ff;
  --blue_300: rgb(97, 0, 253);
  --purple_300: #002fffef;
  --purple_hover: #FF0000;
  --purple_500: #2200ffb8;
  --pink_700: #b438df;
  --pink_400: #ff0000;
  --pink_300: #ff0099;
  --pink_100: #ff006a;
  --orange_300: #FFFF00;
  --orange_100: #ffa600;
  --purple_main: #340b67;
  --purple_main_hover: #7700ff;
}

html {
  background-color: var(--body_bg);
  font-family: "Rubik";
}

.maze {
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav {
  background-color: var(--purple_300);
  padding: 2rem;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 1.5rem;
}

.navlink { 
    text-decoration: none;
    color: rgb(255, 255, 255);
    list-style: none;
}

.title {
  color: var(--sky_300);
  margin-top: 2rem;
  font-size: 2rem;
}

.pictureCaption {
  margin-top: 1rem;
}

.fullypic {
  margin-top: 2rem;
  object-fit: cover;
}

.maze {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  border: 2px solid var(--purple_main);
}
.maze div {
  background-color: black;
  border: 1px solid var(--purple_main);
}
.start {
  background-color: var(--pink_100)
}
.end {
  background-color: green;
}

#game{
  width: 1000px;
  height: 500px;
  border: 1px solid #FFFFFF;
  margin: auto;
  overflow: hidden;
}
#block{
  width: 50px;
  height: 500px;
  background-color: black;
  position: relative;
  left: 1200px;
  top: -100px;
  animation: block 2.5s infinite linear;
}
@keyframes block{
  0%{left:1000px}
  100%{left:-50px}
}
#hole{
  width: 50px;
  height: 150px;
  background-color: rgb(13, 0, 255);
  position: relative;
  left: 1200px;
  top: -680px;
  animation: block 2.5s infinite linear;
}

#character {
  width: 100px; 
  height: 75px;
  background-image: url('/images/neon_cat.jpg');
  background-size: cover;
  position: absolute;
  top: 100px;
}